<h2>Update </h2>
<form class="form-horizontal" name="frmUpdateUser" ng-submit="updateUser(user)" novalidate>
    <h4>Update current user</h4>
    <hr />


    <div class="form-group">
        <label class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="fname" ng-model="user.FirstName" maxlength="50" ng-maxlength="50" required />
            <span class="text-danger" ng-show="(frmUpdateUser.fname.$touched || frmUpdateUser.fname.$dirty) && frmUpdateUser.fname.$invalid">
                <span ng-show="frmUpdateUser.fname.$error.required">First name is required</span>
                <span ng-show="frmUpdateUser.fname.$error.maxlength">First name should not excced 50 characters</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Last Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="lname" ng-model="user.LastName" ng-maxlength="50" required />
            <span class="text-danger" ng-show="(frmUpdateUser.lname.$touched || frmUpdateUser.lname.$dirty) && frmUpdateUser.lname.$invalid">
                <span ng-show="frmUpdateUser.lname.$error.required">Last name is required</span>
                <span ng-show="frmUpdateUser.lname.$error.maxlength">Last name should not excced 50 characters</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" name="email" ng-model="user.Email" ng-maxlength="100" required />
            <span class="text-danger" ng-show="(frmUpdateUser.email.$touched || frmUpdateUser.email.$dirty) && frmUpdateUser.email.$invalid">
                <span ng-show="frmUpdateUser.email.$error.required">Email is required</span>
                <span ng-show="frmUpdateUser.email.$error.email">Please enter valid email</span>
                <span ng-show="frmUpdateUser.email.$error.maxlength">Email should not excced 100 characters</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" ng-model="user.Password" name="password" ng-maxlength="30" required />
            <span class="text-danger" ng-show="(frmUpdateUser.password.$touched || frmUpdateUser.password.$dirty) && frmUpdateUser.password.$invalid">
                <span ng-show="frmUpdateUser.password.$error.required">Password is required</span>
                <span ng-show="frmUpdateUser.password.$error.maxlength">Password should not excced 30 characters</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" name="confPassword" ng-model="user.ConfrimPassword" required />
            <span class="text-danger" ng-show="(frmUpdateUser.confPassword.$touched || frmUpdateUser.confPassword.$dirty) && frmUpdateUser.confPassword.$invalid">
                <span ng-show="frmUpdateUser.confPassword.$error.required">Confirm Password is required</span>
                <span ng-show="frmUpdateUser.confPassword.$error.maxlength">Confirm Password should not excced 30 characters</span>
            </span>
        </div>
    </div>


    <div class="form-group">

        <div class="col-lg-10 col-lg-offset-2">
            <input type="submit" class="btn btn-success" value="Update" ng-disabled="frmUpdateUser.$pristine || frmUpdateUser.$invalid" />
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </div>

</form>